<!DOCTYPE html>
<html lang="en-US">
  <head>
    <% include ./header %>
  </head>
  <body>
    <div class="container" style="font-family:'raleway_italic'">
      <div className="page-header">
      </div>
      <div class="jumbotron">
        <div>
          <h1><%- view.message %>  <small><%- view.status %></small></h1>
        </div>
      <pre><%- error %></pre>
    </div>
  </div>
</body>
</html>
