<!DOCTYPE html>
<html lang="en-US">
  <head>
    <% include ./header %>
  </head>
  <body id="body">
    <div id="react_root"><%- markup || "" %></div>
    <script type="application/json" id="initial-data"><%- data || "" %></script>
  </body>
</html>