<!DOCTYPE html>
<html lang="en-US">
  <head>
    <% include ./header %>
  </head>
  <body>
    <div id="react-root"></div>

    <!-- Main data flow from server to client. -->
    <!-- Unlike normal html page where "data" and "view" are together in the html, js is packed into -->
    <!-- dist/ as static methods, where data is passed from server into this pure data. -->
    <!-- Store into global window and setup to redux is a good solution here. -->
    <script type="text/javascript">
    	const pageData = '<%- pageData %>';
    	try {
    		window._pageData = JSON.parse(pageData);
    	} catch (e) {
    		console.error('Excpetion happened when parsing pageData: ' + pageData);
    		console.error(e);
    	}
    </script>

    <!-- Dynamic loading react dist which will mount onto react-root -->
    <script type="text/javascript" src=<%- dist %>></script>
  </body>
</html>